__pycache__/
*.pyc
.pytest_cache/
.venv/

private-data/
outputs/

data/raw/
data/processed/
!data/raw/
!data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/experiments/

.env
.env.*
!.env.example
